*{
    margin:0;
    padding:0;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}
header{
    display: flex;
    height:80px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #f6f6f6;
}
.myntra_home{
    height:45px;
}
.logo_container{
    margin-left: 4%;

}
.action_bar{
    margin-right:4%;
}
.nav_bar{
    display:flex;
    min-width:500px;
    justify-content: space-evenly ;
}
.nav_bar a{
    color: #282c3f;
    font-size: 14px;
    letter-spacing: .3px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 29px 0 29px 0;
}
.nav_bar a:hover{
    border-bottom: #ff3f6c 3px solid;
    color: #ff3f6c; 
}
.nav_bar a sup {
    color: #ff3f6c;
    font-size: 10px;
}

.search_bar{
    min-width: 200px;
    width: 30%;
    height: 40px;
    align-items: center;
    display: flex;

}
.search_input{
    color:#696e79;
    background-color: #ffffff;
    flex-grow:1;
    height: 40px;
    border-radius: 0 4px 4px 0;

}
.material-symbols-outlined.search_icon{
    box-sizing: content-box;
    height: 20px;
    padding:10px;
    background-color: #f5f5f6;
    color:#282c3f;
    border-radius: 4px 0 0 4px;
    font-weight: 300;
    }   
.action_bar {
    display:flex;
    min-width:200px;
    justify-content: space-evenly;
}
.action_container{
    display:flex;
    flex-direction: column;
    align-items: center;
}


.banner_container{
    margin-top:40px;
    /* width:100%;
    display: flex;
    justify-content: center; */
}
.banner_image{
    /* height:225px; */
    width:100%;
}

.Category_heading{
    text-transform: uppercase;
    color:#3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    font-weight: 700;
    max-height: 5em;
    margin: 50px 0 10px 30px;    
}

.category_heading {
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}

.category_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sale_item {
    width: 250px;
}

.footer_container {
    padding: 30px 0px 40px 0px;
    background: #FAFBFC;
    display: flex;
    justify-content: space-evenly;
}

.footer_column {
    display: flex;
    flex-direction: column;
}

.footer_column h3 {
    color: #282c3f;
    font-size: 14px;
    margin-bottom: 25px;
}

.footer_column a {
    color: #696b79;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
}

.copyright {
    color: #94969f;
    text-align: end;
    padding: 15px;
}